body, html {font-size: 12px;font-family:Verdana;margin:0;padding:0;color:#313131;background:#FFF;}
ul,li {
    margin:0;
    padding:0;
}
.main {
    margin:0 auto;
    width:900px;
}
.main.home .left {
    float:left;
    width:452px;
    height:479px;
    background: url('../img/left.jpg') no-repeat;
}
.main.home .right {
    float:right;
    width:350px;
    height:700px;
    margin-left:50px;
}

.signup {
    float:left;
}

.main.home .right .logo {
    background: url('../img/logo.jpg') no-repeat;
    width:274px;
    height:172px;
}

.main.home .right #signup {
    width:300px;
    float:left;
    margin-left:25px;
}

.main.home li {
    float:left;
    margin-bottom:10px;
    list-style: none;
    clear:both;
}
.main.home li input {
    height:21px;
    padding:6px 5px;
    width:213px;
    line-height: 21px;
    border:1px solid #bfbfbf;
    border-radius: 3px;
}

.main.home .right .login {
    float:left;
    margin-left:-2px;
    margin-top:20px;
    clear:both;
    display: none;
}

.main.home .right .login ul li {
    list-style: none;
    margin-bottom:20px;
    margin-left:27px;
}

.main.home .right .signin {
    float:left;
    margin:20px 0 0 25px;
    font-size:14px;
    width:220px;
    text-align: center;
}

.main.home .right .login .buttonsignin {
    background: url('../img/signin.png') no-repeat;
    width:284px;
    height:45px;
    float:left;
    cursor: pointer;
}
.main.home .right .login .buttonsignin:hover {
    background: url('../img/signin-hover.png') no-repeat;
}

.main.home .right .signin a {
    color:#2895F1;
    font-size:15px;
}

.main.home .right .signup .button {
    background: url('../img/signup-hover.jpg') no-repeat;
    width:225px;
    height:45px;
    float:left;
    margin-left:25px;
    cursor:pointer;
}

.main.home .right .signup .button:hover {
    background: url('../img/signup-active.jpg') no-repeat;
}

.right h1 {
    width: 410px;
    word-wrap: break-word;
}

.right table td {
    padding:5px;
}
.right table td a, .main .logout {
    color:#2895F1;
    text-decoration: none;
    cursor: pointer;
}

.right table td a:hover , .main .logout:hover {
    text-decoration: underline;
}

.main .logout {
    float:right;
    font-size:15px;
}
.back {
    float:left;
    color:#2895F1;
    text-decoration: none;
    cursor: pointer;
}

.back:hover {
    text-decoration: underline;
}
